
# Created by https://www.toptal.com/developers/gitignore/api/macos,swift,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,swift,xcode

### macOS ###
# General
.DS_Store
*/.DS_Store
*/*/.DS_Store
.AppleDouble
.LSOverride
